module [[ .ModulePath ]]

go 1.26.4

require (
	github.com/openeverest/openeverest/v2 v2.0.0-dev.3
	k8s.io/api v0.37.0
	k8s.io/apimachinery v0.37.0
	sigs.k8s.io/controller-runtime v0.25.0
)

tool github.com/openeverest/provider-sdk

// TODO: Add your operator dependency, e.g.:
// require github.com/example/my-operator v1.0.0
//
// Then run: go mod tidy
